<section id="aboutTheGame" class="about-the-game">
  <div class="global-wrapper">
    <h2 class="section-title">About us</h2>
    <ul class="about-the-game-list">
      <li class="about-the-game-li">
        <div class="img-container">
          <picture class="picture">
            <source
              srcset="/img/about/1x/island.png 1x, /img/about/2x/island@2x.png 2x"
              media="(min-width: 1199.98px)"
            />
            <img src="/img/about/1x/island.png" alt="Tropical island illustration" />
          </picture>
        </div>
        <div class="about-the-game-text">
          <p>
            Tropicmania is an exciting tropical adventure game where you build,
            manage, and expand your own paradise island.
          </p>
        </div>
      </li>
      <li class="about-the-game-li">
        <div class="img-container">
          <picture class="picture">
            <source
              srcset="
                /img/about/1x/renovate.png 1x,
                /img/about/2x/renovate@2x.png 2x
              "
              media="(min-width: 1199.98px)"
            />

            <img src="/img/about/1x/renovate.png" alt="Village renovation illustration" />
          </picture>
        </div>

        <div class="about-the-game-text">
          <p>
            Collect rare resources, build thriving villages, and unlock new
            tropical landscapes.
          </p>
        </div>
      </li>
      <li class="about-the-game-li">
        <div class="img-container">
          <picture class="picture">
            <!-- <source
              srcset="/img/about/1x/game.png 1x, /img/about/2x/game@2x.png 2x"
              media="(min-width: 1199.98px)"
            /> -->

            <img src="/img/about/1x/game.png" alt="Gameplay scene" />
          </picture>
        </div>

        <div class="about-the-game-text">
          <p>
            This immersive simulation game allows you to manage and expand your
            colony, unlock upgrades, and face challenges that require creativity
            and strategy.
          </p>
        </div>
      </li>
      <li class="about-the-game-li">
        <div class="img-container">
          <picture class="picture">
            <source
            srcset="
            /img/about/1x/tropical.png 1x,
            /img/about/2x/tropical@2x.png 2x
          "

              media="(min-width: 1199.98px)"
            />

            <img src="/img/about/1x/tropical.png" alt="Paradise" />
          </picture>
        </div>
        <div class="about-the-game-text">
          <p>
            Perfect for lovers of tropical themes, management games, and
            adventure seekers, Tropicmania provides endless hours of fun.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
