<section id="faq" class="faq">
  <h2 class="title-text">FAQ</h2>
  <ul class="faq-list">
    <div class="faq-span"></div>
    <li>How do I start the game?</li>
    <p>Download the app, install it, and press 'Play' to begin your tropical adventure.</p>
    <div class="faq-span"></div>
    <li>Is the game free?</li>
    <p>Yes, Tropicmania is free to download, with optional in-app purchases.</p>
    <div class="faq-span"></div>
    <li>Can I play offline?</li>
    <p>Yes, Tropicmania supports offline play, so you can continue your journey without an internet connection.</p>
    <div class="faq-span"></div>
    <li>What are the main goals?</li>
    <p>Build, expand, and manage your tropical island while completing missions and gathering resources.</p>
    <div class="faq-span"></div>
    <li>How do I unlock new upgrades?</li>
    <p>Collect resources from your island to unlock new technologies and enhance your settlement.</p>
    <div class="faq-span"></div>
    <li>Are there special events?</li>
    <p>Yes, take part in seasonal events to earn exclusive rewards and unlock unique tropical items.</p>
    <div class="faq-span"></div>
  </ul>
</section>
