<section id="faq" class="faq">
  <div class="global-wrapper">
    <h2 class="title-text">FAQ</h2>
    <ul class="faq-list">
    <li>
      <div class="list-text">
        <button class="faq-btn">
          <svg class="faq-icon" width="17" height="15">
            <use href="./img/sprite.svg#icon-triangle"></use>
          </svg>
        </button>
        <p>How do I start the game?</p>
      </div>
      <div class="hover-container">
        <p class="hover-text">Download the app, install it, and press 'Play' to begin your tropical adventure.</p>
      </div>
    </li>
    <li>
      <div class="list-text">
        <button class="faq-btn">
          <svg class="faq-icon" width="17" height="15">
            <use href="./img/sprite.svg#icon-triangle"></use>
          </svg>
        </button>
        <p>Is the game free?</p>
      </div>
      <div class="hover-container">
        <p class="hover-text">Yes, Tropicmania is free to download, with optional in-app purchases.</p>
      </div>
    </li>
    <li>
      <div class="list-text">
        <button class="faq-btn">
          <svg class="faq-icon" width="17" height="15">
            <use href="./img/sprite.svg#icon-triangle"></use>
          </svg>
        </button>
        <p>Can I play offline?</p>
      </div>
      <div class="hover-container">
        <p class="hover-text">Yes, Tropicmania supports offline play, so you can continue your journey without an internet
          connection.</p>
      </div>
    </li>
    <li>
      <div class="list-text">
        <button class="faq-btn">
          <svg class="faq-icon" width="17" height="15">
            <use href="./img/sprite.svg#icon-triangle"></use>
          </svg>
        </button>
        <p>What are the main goals?</p>
      </div>
      <div class="hover-container">
        <p class="hover-text">Build, expand, and manage your tropical island while completing missions and gathering
          resources.</p>
      </div>
    </li>
    <li>
      <div class="list-text">
        <button class="faq-btn">
          <svg class="faq-icon" width="17" height="15">
            <use href="./img/sprite.svg#icon-triangle"></use>
          </svg>
        </button>
        <p>How do I unlock new upgrades?</p>
      </div>
      <div class="hover-container">
        <p class="hover-text">Collect resources from your island to unlock new technologies and enhance your settlement.</p>
      </div>
    </li>
    <li>
      <div class="list-text">
        <button class="faq-btn">
          <svg class="faq-icon" width="17" height="15">
            <use href="./img/sprite.svg#icon-triangle"></use>
          </svg>
        </button>
        <p>Are there special events?</p>
      </div>
      <div class="hover-container">
        <p class="hover-text">Yes, take part in seasonal events to earn exclusive rewards and unlock unique tropical items.
        </p>
      </div>
    </li>
    </ul>
  </div>
</section>
