<section class="features">
  <div class="global-wrapper">
    <h2 class="section-title">Features</h2>
    <ul class="features-list">
      <li>
        <div class="features-img-container">
          <svg
            width="312"
            height="260"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <use href="/img/sprite.svg#icon1"></use>
          </svg>
          <picture>
            <source
              srcset="
                /img/features/1x/leave.png    1x,
                /img/features/2x/leave@2x.png 2x
              "
              media="(min-width: 1199,98px)"
            />
            <img src="img/features/1x/leave.png" alt="leave" />
          </picture>
        </div>
        <p>
          Tropical Islands: Build and customize your tropical paradise, complete
          with lush forests, exotic animals, and vibrant cities.
        </p>
      </li>
      <li>
        <div class="features-img-container">
          <svg
            width="312"
            height="260"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <use href="/img/sprite.svg#icon1"></use>
          </svg>
          <picture>
            <source
              srcset="
                /img/features/1x/banana.png    1x,
                /img/features/2x/banana@2x.png 2x
              "
              media="(min-width: 1199,98px)"
            />

            <img src="/img/features/1x/banana.png" alt="banana" />
          </picture>
        </div>
        <p>
          Resource Management: Collect and manage essential resources like wood,
          fruits, and rare minerals to ensure the growth and success of your
          island settlements.
        </p>
      </li>
      <li>
        <div class="features-img-container">
          <svg
            width="312"
            height="260"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <use href="/img/sprite.svg#icon1"></use>
          </svg>
          <picture>
            <source
              srcset="
                /img/features/1x/bird.png    1x,
                /img/features/2x/bird@2x.png 2x
              "
              media="(min-width: 1199,98px)"
            />
            <img src="/img/features/1x/bird.png" alt="bird" />
          </picture>
        </div>
        <p>
          Unlock Upgrades: Enhance your island by unlocking new buildings,
          tropical species, and powerful technologies.
        </p>
      </li>
      <li>
        <div class="features-img-container">
          <svg
            width="312"
            height="260"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <use href="/img/sprite.svg#icon1"></use>
          </svg>
          <picture>
            <source
              srcset="
                /img/features/1x/island.png    1x,
                /img/features/2x/island@2x.png 2x
              "
              media="(min-width: 1199,98px)"
            />

            <img src="/img/features/1x/island.png" alt="island" />
          </picture>
        </div>
        <p>
          Challenging Missions: Complete quests and challenges to earn rewards,
          unlock new areas, and expand your island further.
        </p>
      </li>
      <li>
        <div class="features-img-container">
          <svg
            width="312"
            height="260"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <use href="/img/sprite.svg#icon1"></use>
          </svg>
          <picture>
            <source
              srcset="
                /img/features/1x/star.png    1x,
                /img/features/2x/star@2x.png 1x
              "
              media="(min-width: 1199,98px)"
            />
            <img src="/img/features/1x/star.png" alt="star" />
          </picture>
        </div>
        <p>
          Stunning Visuals: Experience rich, tropical environments with
          beautifully detailed graphics, from sandy beaches to lush jungles.
        </p>
      </li>
      <li>
        <div class="features-img-container">
          <svg
            width="312"
            height="260"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <use href="/img/sprite.svg#icon1"></use>
          </svg>
          <picture>
            <source
              srcset="
                /img/features/1x/face.png    1x,
                /img/features/2x/face@2x.png 2x
              "
              media="(min-width: 1199,98px)"
            />
            <img src="/img/features/1x/face.png" alt="face" />
          </picture>
        </div>
        <p>
          Offline Mode: Enjoy the game even without an internet connection,
          whether you're on the go or relaxing at home.
        </p>
      </li>
    </ul>
  </div>
</section>
