<section class="features">
  <div class="global-wrapper">
    <h2 class="section-title">Features</h2>
    <ul class="features-list">
      <li>
        <img src="images/feature-1.jpg" alt="img" />
        <p>
          Tropical Islands: Build and customize your tropical paradise, complete
          with lush forests, exotic animals, and vibrant cities.
        </p>
      </li>
      <li>
        <img src="images/feature-2.jpg" alt="img" />
        <p>
          Resource Management: Collect and manage essential resources like wood,
          fruits, and rare minerals to ensure the growth and success of your
          island settlements.
        </p>
      </li>
      <li>
        <img src="images/feature-3.jpg" alt="img" />
        <p>
          Unlock Upgrades: Enhance your island by unlocking new buildings,
          tropical species, and powerful technologies.
        </p>
      </li>
      <li>
        <img src="images/feature-4.jpg" alt="img" />
        <p>
          Challenging Missions: Complete quests and challenges to earn rewards,
          unlock new areas, and expand your island further.
        </p>
      </li>
      <li>
        <img src="images/feature-5.jpg" alt="img" />
        <p>
          Stunning Visuals: Experience rich, tropical environments with
          beautifully detailed graphics, from sandy beaches to lush jungles.
        </p>
      </li>
      <li>
        <img src="images/feature-6.jpg" alt="img" />
        <p>
          Offline Mode: Enjoy the game even without an internet connection,
          whether you're on the go or relaxing at home.
        </p>
      </li>
    </ul>
  </div>
</section>
