<section class="gallery">
  <div class="global-wrapper">
    <h2 class="section-title">Gallery</h2>
    <ul class="gallery-list">
      <li>
        <img src="/img/gallery-1x/image_1.png" alt="img" />
      </li>
      <li>
        <img src="/img/gallery-1x/image_2.png" alt="img" />
      </li>
      <li>
        <img src="/img/gallery-1x/image_3.png" alt="img" />
      </li>
    </ul>
    <div class="gallery-swipe">
      <button class="btn-left">left</button>
      <button class="btn-right">right</button>
    </div>
  </div>
</section>
