<section class="hero">
  <div class="global-wrapper">
    <div class="hero-content">
      <div class="hero-center">
        <h1>Tropicmania</h1>
        <div class="hero-title-container">
          <h2 class="hero-title">
            Dive into an Endless Tropical Paradise, Build, Explore, and Thrive!
          </h2>
        </div>
        <a
          href="https://play.google.com/store/apps/details?id=com.PuzzlePoint.Tropicmania"
          class="hero-button"
          role="button"
        >
          <img
            width="17"
            height="18"
            class="btn-play-icon"
            src="/img/logos_google-play-icon.svg"
            alt="Google Play Badge"
          />

          <p class="btn-play-text">Download on Google Play</p>
        </a>
      </div>
    </div>
  </div>
</section>
