<section id="reviews" class="reviews">
  <div class="global-wrapper">
    <h2 class="section-title">Reviews</h2>
    <div class="swiper swiperGallery">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="item-reviews">
            <div class="green-box">
              <img
                src="./img/reviews/reviews-image1.png"
                alt="woman"
                width="51"
                height="77"
              />
            </div>
            <p>
              "A fantastic game with a tropical twist! It's challenging and
              addictive."
            </p>
            <h3>IslandBuilder</h3>
            <div class="triangle"></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="item-reviews">
            <div class="green-box">
              <img
                src="./img/reviews/reviews-image2.png"
                alt="man"
                width="51"
                height="77"
              />
            </div>
            <p>
              "Building and expanding my own paradise is incredibly satisfying.
              I love the visuals!"
            </p>
            <h3>TropicsFan</h3>
            <div class="triangle"></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="item-reviews">
            <div class="green-box">
              <img
                src="./img/reviews/reviews-image3.png"
                alt="granny"
                width="51"
                height="77"
              />
            </div>
            <p>
              "Great for those who enjoy strategic resource <br />management and
              <br />exploration. Highly recommended!"
            </p>
            <h3>StrategyMaster</h3>
            <div class="triangle"></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="item-reviews">
            <div class="green-box">
              <img
                src="./img/reviews/reviews-image4.png"
                alt="girl"
                width="51"
                height="77"
              />
            </div>
            <p>
              "The graphics are gorgeous, and the game mechanics are so fun. A
              must-play for adventure lovers!"
            </p>
            <h3>NatureExplorer</h3>
            <div class="triangle"></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="item-reviews">
            <div class="green-box">
              <img
                src="./img/reviews/reviews-image5.png"
                alt="boy"
                width="51"
                height="77"
              />
            </div>
            <p>
              "Perfect mix of relaxing and challenging gameplay. Tropicmania is
              a delightful escape!"
            </p>
            <h3>CasualPlayer</h3>
            <div class="triangle"></div>
          </div>
        </div>
      </div>

      <div class="swiper-button-prev">
        <svg
          class="icon"
          viewBox="0 0 18 32"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill="#2b7908"
            style="fill: var(--color1, #2b7908)"
            d="M17.616 31.331c0.893-0.893 0.893-2.34 0-3.232l-12.098-12.098 12.098-12.098c0.893-0.893 0.893-2.34 0-3.232s-2.34-0.893-3.232 0l-13.714 13.714c-0.893 0.893-0.893 2.34 0 3.232l13.714 13.714c0.893 0.893 2.34 0.893 3.232 0z"
          ></path>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg
          class="icon"
          viewBox="0 0 18 32"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill="#2b7908"
            style="fill: var(--color1, #2b7908)"
            d="M0.669 31.331c-0.893-0.893-0.893-2.34 0-3.232l12.098-12.098-12.098-12.098c-0.893-0.893-0.893-2.34 0-3.232s2.34-0.893 3.232 0l13.714 13.714c0.893 0.893 0.893 2.34 0 3.232l-13.714 13.714c-0.893 0.893-2.34 0.893-3.232 0z"
          ></path>
        </svg>
      </div>
    </div>

    <div class="reviews-grid">
      <div class="item-reviews">
        <div class="green-box">
          <img
            src="./img/reviews/reviews-image1.png"
            alt="woman"
            width="51"
            height="77"
          />
        </div>
        <p>
          "A fantastic game with a tropical twist! It's challenging and
          addictive."
        </p>
        <h3>IslandBuilder</h3>
        <div class="triangle"></div>
      </div>

      <div class="item-reviews">
        <div class="green-box">
          <img
            src="./img/reviews/reviews-image2.png"
            alt="man"
            width="51"
            height="77"
          />
        </div>
        <p>
          "Building and expanding my own paradise is incredibly satisfying. I
          love the visuals!"
        </p>
        <h3>TropicsFan</h3>
        <div class="triangle"></div>
      </div>

      <div class="item-reviews">
        <div class="green-box">
          <img
            src="./img/reviews/reviews-image3.png"
            alt="granny"
            width="51"
            height="77"
          />
        </div>
        <p>
          "Great for those who enjoy strategic resource <br />management and
          <br />exploration. Highly recommended!"
        </p>
        <h3>StrategyMaster</h3>
        <div class="triangle"></div>
      </div>

      <div class="item-reviews">
        <div class="green-box">
          <img
            src="./img/reviews/reviews-image4.png"
            alt="girl"
            width="51"
            height="77"
          />
        </div>
        <p>
          "The graphics are gorgeous, and the game mechanics are so fun. A
          must-play for adventure lovers!"
        </p>
        <h3>NatureExplorer</h3>
        <div class="triangle"></div>
      </div>

      <div class="item-reviews">
        <div class="green-box">
          <img
            src="./img/reviews/reviews-image5.png"
            alt="boy"
            width="51"
            height="77"
          />
        </div>
        <p>
          "Perfect mix of relaxing and challenging gameplay. Tropicmania is a
          delightful escape!"
        </p>
        <h3>CasualPlayer</h3>
        <div class="triangle"></div>
      </div>
    </div>
  </div>
</section>
