.faq {
  background: linear-gradient(180deg, #48ebe2 33%, #e1e023 98%);
  padding: 24px 16px 24px 16px;
    width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    font-family: "Grandstander", sans-serif;
    font-size: 14px;
}
.faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.faq-list p {
  display: none;
}
.faq-list li {
  padding: 12px;
  border-radius: 36px;
  width: 263px;
  height: 40px;
  background: #62bc05;
  margin-left: 25px;
}
// .faq-span {
//   content: '';
//   border-radius: 100%;
//   background-color: #2b7908;
//   width: 40px;
//   height: 40px;
// }

.title-text {
  font-family: "Grandstander", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  text-align: start;
  margin-bottom: 16px;
}


@include media(desktop) {
  .faq {
      min-width: 1200px;
      width: 100%;
      height: 100%;
      padding: 60px 72px;
      font-size: 18px;
        line-height: 1.22222;
    }
.title-text {
    font-size: 32px;
    margin-bottom: 32px;
  }
}