.gallery {
  background: $_bg_gradient;
  .global-wrapper {
    padding-top: 24px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .global-wrapper .section-title {
    margin: 0 0 16px 16px;
  }
}
.gallery-container {
  margin: 0 auto;
}
.swiper-topgallery {
  margin: 0 auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-right: 48px;
  padding-left: 48px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 225px;
  height: 105px;
}

.gallery-img img {
  aspect-ratio: 16/8;
  display: block;
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}
.swiper-button-next-topgallery,
.swiper-button-prev-topgallery {
  position: absolute;
  width: 24px;
  height: 24px;

  bottom: 45%;
  z-index: 10;
  color: $_black_text;
  background-color: transparent;
}

.swiper-button-next-topgallery {
  right: 16px;

  .desktop-icon {
    visibility: hidden;
  }
}

.swiper-button-prev-topgallery {
  left: 16px;
  .desktop-icon {
    visibility: hidden;
  }
}

.swiper-pagination-topgallery {
  visibility: hidden;
}
// }

@include media($desktop) {
  .gallery {
    background: $_bg_gradient;
    .global-wrapper {
      padding-top: 60px;

      .section-title {
        margin-bottom: 34px;
        margin-left: 72px;
      }
    }
  }
  .gallery-container {
    margin: 0 auto;
    padding: 24px 0;
  }
  .swiper-topgallery {
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;

    .swiper-wrapper {
      margin-bottom: 100px;
      margin-top: 24px;
    }
    .swiper-pagination-topgallery {
      visibility: visible;
      position: absolute;
      width: 72px;
      height: 24px;
      bottom: 25px;
    }
    .swiper-pagination-circle {
      margin-left: 4px;
      background: #62bc05;
      border: transparent;
      border-radius: 50%;
      opacity: 1;
      padding: 5px;
    }
    .swiper-pagination-circle-active {
      background: #2b7908;
      padding: 8px;
    }
  }
  .gallery-img img {
    width: 525px;
    height: 282px;
    display: block;
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    aspect-ratio: 4/3;
  }

  .gallery-container .swiper-slide-active {
    .gallery-img {
      transform: scale(1.1);
      transition: transform 0.5s ease, outline 0.5s ease;
    }
  }

  .gallery-container .swiper-slide {
    margin: 0 20px;
    transition: margin 0.5s ease;
  }
  .swiper-button-prev-topgallery {
    background: transparent;
    border: none;
    color: #62bc05;
    width: 52px;
    height: 40px;
    bottom: 5px;
    left: 41%;
    .desktop-icon {
      display: inline-block;
      visibility: visible;
    }
    .mobile-icon {
      display: none;
    }
  }

  .swiper-button-next-topgallery {
    background: transparent;
    border: none;
    cursor: pointer;
    bottom: 5px;
    right: 43%;

    color: #62bc05;
    width: 40px;
    height: 40px;
    .desktop-icon {
      display: inline-block;
      visibility: visible;
    }
    .mobile-icon {
      display: none;
    }
  }
  .swiper-button-prev-topgallery:hover,
  .swiper-button-next-topgallery:hover {
    color: #2b7908;
  }
}
