.privacy-and-terms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: 'Grandstander', sans-serif;
  background: $_bg_gradient;
  position: relative;
}

.home {
  border-radius: 6px;
  padding: 4px 8px 4px 4px;
  width: 121px;
  height: 41px;
  background: #e1e023;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
.link-home {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  @include font(12, 16);
  display: flex;
  align-items: center;
  gap: 4px;
}
.privacy-title {
  font-weight: 700;
  @include font(18, 24);
  margin-bottom: 16px;
  text-align: start;
}
.privacy-text {
  margin: 0 auto;
}
.privacy-text p {
  font-weight: 400;
  font-size: 14px;
  @include font(14, 18);
  margin-bottom: 16px;
}
.privacy-text p span {
  font-weight: 500;
}
.privacy-text ul {
  @include font(14, 18);
  margin-bottom: 16px;
  list-style: disc;
  padding: 0 16px;
}
.text-and-list p {
  margin-bottom: 0;
}
.link-privacy {
  color: #0154dd;
}
.footer-previcy {
  padding: 40px 0;
}

@include media($desktop) {
  .privacy-and-terms {
    min-width: 1200px;
    padding: 32px 72px 24px 72px;
  }
  .privacy-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 32px;
  }
  .privacy-text p {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .privacy-text p span {
    font-size: 24px;
  }
  .text-and-list p {
    margin-bottom: 0;
  }
  .privacy-text ul {
    font-size: 20px;
    padding: 0 28px;
  }
  .footer-previcy {
    padding: 40px 0;
  }
}
