.privacy-terms {
  font-family: "Grandstander", sans-serif;
  padding: 24px 16px 10px 16px;
  background: linear-gradient(180deg, #48ebe2 33%, #e1e023 98%);
}
.home {
  border-radius: 6px;
  padding: 4px 8px 4px 4px;
  width: 121px;
  height: 41px;
  background: #e1e023;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
.link-home {
font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 1.33333;
display: flex;
align-items: center;
gap: 4px;
}
.title-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  margin-bottom: 16px;
}
.privacy-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  margin-bottom: 16px;
}
.privacy-text p span {
  font-weight: 500;
}
.privacy-text ul {
  font-family: "Grandstander", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  margin-bottom: 16px;
  list-style: disc;
  padding: 0 16px;
}
.text-and-list p {
  margin-bottom: 0;
}
.link-privacy {
  color: #0154dd;
}


@include media(desktop) {
  .privacy-terms {
    padding: 32px 72px 24px 72px;
  }
  .title-text {
    font-size: 32px;
    text-align: center;
    margin-bottom: 32px;
  }
  .privacy-text p {
      font-size: 20px;
      margin-bottom: 24px;
  }
  .privacy-text p span {
          font-size: 24px;
  }
  .text-and-list p {
              margin-bottom: 0;
  }
  .privacy-text ul {
      font-size: 20px;
      padding: 0 28px;
  }

}