.reviews {
  background: #48ebe2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.reviews-grid {
  display: none;
}

.title-text {
  font-family: 'Grandstander', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  text-align: start;
  margin-bottom: 0;
}

.swiperGallery {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-reviews {
  background-image: url('../img/reviews/background.png');
  background-position: center bottom 38px;
  background-repeat: no-repeat;
  font-family: 'Grandstander', sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  height: 264px;
  line-height: 1.28571;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-reviews h3 {
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 50px;
}
.item-reviews p {
  margin: 0 auto;
  width: 180px;
}

.item-reviews .triangle {
  position: absolute;
  right: 50px;
  bottom: 20px;
  width: 33px;
  height: 41px;
  background-image: url('../img/reviews/mini.png');
}

.green-box {
  width: 74px;
  height: 87px;
  border-radius: 100%;
  background-color: #62bc05;
  margin-top: 9px;
  margin-bottom: 7px;
  position: relative;
}
.green-box img {
  display: block;
  width: 51px;
  height: 77px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev .icon,
.swiper-button-next .icon {
  width: 8px;
  height: 14px;
}
.swiper-button-prev {
  left: 0 !important;
}
.swiper-button-next {
  right: 0 !important;
}

@include media($desktop) {
  .reviews {
    padding: 60px 72px;
  }

  .title-text {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .swiper-button-prev .icon,
  .swiper-button-next .icon {
    display: none;
  }

  .swiperGallery {
    display: none;
  }
  .reviews-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

  .reviews-grid>.item-reviews:nth-child(1),
  .reviews-grid>.item-reviews:nth-child(2),
  .reviews-grid>.item-reviews:nth-child(3) {
    grid-row: 1;
  }

  .reviews-grid>.item-reviews:nth-child(4),
  .reviews-grid>.item-reviews:nth-child(5) {
    grid-row: 2;
  }

  .reviews-grid>.item-reviews:nth-child(4) {
    grid-column: 1 / 3;
  }

  .reviews-grid>.item-reviews:nth-child(5) {
    grid-column: 2 / 4;
  }
  .item-reviews {
    background-image: url('../img/reviews/background-desktop.png');
    background-position: center bottom 68px;
    background-repeat: no-repeat;
    font-size: 18px;
    line-height: 1.22222;
    width: 360px;
    height: 356px;
    margin: 0 auto;
  }

  .item-reviews p {
    width: 280px;
  }

  .item-reviews h3 {
    padding: 80px;
  }

  .item-reviews .triangle {
    right: 40px;
    bottom: 40px;
    width: 51px;
    height: 56px;
    background-image: url('../img/reviews/mini-desktop.png');
  }

  .green-box {
    width: 115px;
    height: 116px;
  }

  .green-box img {
    width: 81px;
    height: 104px;
  }
}
