// componens scss imports
@import './components/header.scss';
@import './components/footer.scss';
@import './components/hero.scss';
@import './components/gallery.scss';
@import './components/privacyPolicy.scss';
@import './components/reviews.scss';
@import './components/aboutTheGame.scss';
@import './components/FAQ.scss';
@import './components/features.scss';
@import './components/termsConditions.scss';
// font imports
@import url('@fontsource/grandstander/400.css');
@import url('@fontsource/grandstander/500.css');
@import url('@fontsource/grandstander/600.css');
@import url('@fontsource/inter/400.css');
@import url('@fontsource/akronim/400.css');
// mixins and variables imports
@import './common/_vars.scss';
@import './common/_mixins.scss';
// reset imports
@import './common/_reset.scss';


:root {
  font-family: 'Grandstander', 'Inter', 'Akronim' sans-serif;
  font-size: 18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: block;
  margin: 0 auto;
   .section-title {
      font-family: 'Grandstander';
      font-weight: 700;
      color: $_black_text;
      @include font(32, 24)
    }
  @include media(to-desktop) {
    .header {
      background-color: $_header_color;
      border-radius: 18px;
      padding: 2px 30px 2px 20px;
      width: 100%;
      position: fixed;
      margin:16px 0;
      .nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #1E1E1E;
        font-family: Grandstander;
        font-size: 20px;
        font-weight: 400;
      }
      .favicon {
        width: 87px;
        height: 87px;
        background-color: blueviolet;
      }
    }
    .hero {
      background-color: $_bg_color_turquoise;
      .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
          font-family: 'Akronim';
          @include font(96, 24);
          color: $_accent_orange;
          margin-bottom: 56px;
          margin-top: 196px;
        }
        .hero-title-container {
          width: 314px;
          margin-bottom: 32px;

          .hero-title {
            font-family: 'Grandstander';
            font-weight: 500;
            color: $_black_text;
            @include font(24, 30)
          }
        }
        .hero-button {
          display: inline-flex;
          align-items: center;
          padding: 8px;
          border-radius: 6px;
          background: #FFF;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
          border: transparent;
          width: 156px;
          height: 41px;
          font-family: 'Inter';
          @include font(14, 16);
          margin-bottom: 173px;
        }

      }

    }
  }
}