// componens scss imports
@import './header.scss';
@import './footer.scss';
@import './hero.scss';
@import './gallery.scss';
@import './privacyPolicy.scss';
@import './reviews.scss';
@import './aboutTheGame.scss';
@import './FAQ.scss';
@import './features.scss';
@import './termsConditions.scss';

:root {
  font-family: 'Grandstander', 'Inter', 'Akronim', sans-serif;
  font-size: 14px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.global-wrapper {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  scroll-snap-stop: always;
  scroll-padding: 64px 0 72px 0;
}

.section-title {
  font-family: 'Grandstander';
  font-weight: 700;
  color: $_black_text;
  @include font(18, 24);
  margin-bottom: 16px;
}
// desktop
@include media($desktop) {
  .global-wrapper {
    max-width: 1200px;
    font-size: 18px;
    overflow: hidden;
  }

  .section-title {
    font-family: 'Grandstander';
    font-weight: 700;
    color: $_black_text;
    @include font(32, 24);
    margin-bottom: 32px;
  }
}
